
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_Empty_Layout.cshtml";
}



<section>
    <div class="row">
        <div class="card">
            <div class="header">
                <strong>Reset Password</strong>
            </div>
            <div class="body">
                <div class="row" id="resetPassword">
                    <div class="col-sm-3">
                        <label for="email">Please Enter New Password :</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="password" name="txtPass" id="txtPass" value="" class="form-control" />
                        <input type="hidden" name="txtUsername" id="txtUsername" value="@ViewBag.u" />
                        <br />
                        <button class="btn btn-primary" id="btnResetPassword"> Reset Password</button>
                    </div>
                    <div class="col-sm-5">

                    </div>
                </div>
                <div class="row" id="messageToUser">

                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $("#btnResetPassword").click(function () {
        var un = $("#txtUsername").val();
        var np = $("#txtPass").val();
        if (np.trim() == "") {
            alert("Password must be fill");
            $("#txtPass").focus();
        } else {
            var ajaxurl = '@Url.Action("ChangePassword", "Registration")';

        $.ajax({
            url: ajaxurl,
            type: "POST",
            data: { Username: un, NewPassword: np},
            dataType: 'json',
            success: function (response) {
                console.log(response);
                $("#messageToUser").empty();
                var message = "";
                if (response.IsSuccess == true) {
                    message = "<div class='alert alert-success'> You have successfully reset password.</div>";
                    $("#resetPassword").hide();
                } else {
                    message = "<div class='alert alert-danger'> Link is invalid.</div>";
                    $("#username").select();
                }
                $("#messageToUser").append(message);
            },
            error: function (response) {
                //alert(response)
                console.log(response);
            }
        });
        }

        //alert(email);
    });
</script>