@model Com.BudgetMetal.ViewModels.User.VmUserItem
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Registration</h2>
            </div>
            <div class="body">
                <form id="wizard_with_validation" method="POST" asp-controller="Registration" asp-action="Index" enctype="multipart/form-data">
                    <h3>Company Information</h3>
                    <fieldset>
                        <div class="form-group form-float">
                            <label for="Company_RegNo">Company Registration No. (UEN) <a href="https://www.uen.gov.sg/" target="_blank">?</a></label>
                            <div class="form-line">
                                <input type="text" asp-for="Company.RegNo" class="form-control" placeholder="e.g 123456789A" required>
                                <input type="hidden" asp-for="Company.Id" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <label for="Company_Name">Company Name</label>
                            <div class="form-line">
                                <input type="text" asp-for="Company.Name" class="form-control" placeholder="Company Name" required>

                            </div>
                        </div>
                        <div class="form-group form-float">
                            <label for="Company_Address">Company Address</label>
                            <div class="form-line">
                                <textarea rows="3" asp-for="Company.Address" class="form-control no-resize" placeholder="Company Address"></textarea>
                            </div>
                        </div>

                        <div class="form-group" id="divServiceTags">
                            <h5>Please Select Service Tags</h5>
                           
                            <div class="row">
                                <div class="col-sm-6"> <strong>Avaiable Service </strong> </div>
                                <div class="col-sm-6"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong> Selected Service </strong></div>
                                <div class="col-sm-12">
                                    <select id="optgroup" class="ms" multiple="multiple" name="serviceTags" required></select>
                                </div>
                            </div>
                            
                        </div>
                    </fieldset>
                    <h3>User Information</h3>
                    <fieldset>
                        <div class="form-group form-float">
                            <label for="EmailAddress">Email Address</label>
                            <div class="form-line">
                                <input type="email" asp-for="EmailAddress" class="form-control" placeholder="Email" required onfocusout="checkEmail()">

                            </div>
                        </div>
                        <div class="form-group form-float">
                            <label for="Password">Password</label>
                            <div class="form-line">
                                <input type="password" asp-for="Password" class="form-control" placeholder="Password" required>

                            </div>
                        </div>
                        <div class="form-group form-float">
                            <label for="ContactName">Full Name</label>
                            <div class="form-line">
                                <input type="text" asp-for="ContactName" class="form-control" placeholder="Full Name" required>

                            </div>
                        </div>
                        <div class="form-group form-float">
                            <label for="ContactNumber">Contact Number</label>
                            <div class="form-line">
                                <input type="text" asp-for="ContactNumber" class="form-control" placeholder="Contact No." required>
                            </div>
                        </div>


                    </fieldset>
                    <h3>Terms & Conditions - Finish</h3>
                    <fieldset>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in bibendum neque. Proin arcu metus, finibus ac nulla ac, cursus sodales tortor. Nullam eros ex, porttitor ut fermentum sit amet, faucibus id ipsum. Duis vitae mauris odio. Curabitur feugiat turpis vitae tincidunt aliquet. Integer mattis felis quis luctus tincidunt. Donec tristique ex mollis est vulputate faucibus. Suspendisse porttitor auctor luctus. Donec volutpat erat lorem, quis elementum nulla aliquet at.

                            Integer feugiat lobortis ipsum, sit amet efficitur arcu elementum ac. Curabitur lacinia venenatis venenatis. Sed maximus dolor vel tellus feugiat varius. Suspendisse vitae nibh elit. Pellentesque nisl enim, fermentum eget congue non, porttitor sit amet nisl. Vestibulum elementum odio eu tortor volutpat, in egestas ante sagittis. Nulla iaculis vehicula turpis vitae tincidunt. Praesent pretium hendrerit viverra. Pellentesque accumsan libero et risus molestie tincidunt. Duis turpis velit, tristique sit amet erat non, pellentesque dignissim quam. Ut vitae metus dolor. Curabitur sit amet mollis nisi, sed viverra diam.

                            Pellentesque id sollicitudin purus. Nullam convallis tempus rhoncus. Donec id nisi dui. Nulla vel sollicitudin odio. Donec molestie tincidunt dui, ut hendrerit nisi pellentesque a. Integer massa mauris, tempus sit amet urna at, imperdiet mattis turpis. Pellentesque iaculis metus non lacinia suscipit. Ut at sapien eget nunc porta lacinia vel at libero. Suspendisse semper est eget velit mollis lacinia eget non purus. Sed suscipit nec sem ac sodales.

                            Phasellus rutrum viverra tincidunt. Vivamus eget consequat neque. In fermentum tincidunt iaculis. Aenean quis leo sed nibh mattis ullamcorper. Aenean sit amet elit suscipit velit egestas cursus eu sit amet neque. Mauris vitae mauris quis velit vehicula convallis. Cras pulvinar elit eu nisi pulvinar lobortis. Donec velit ante, convallis eu sagittis sit amet, cursus a ex. Proin maximus dui non porta tempus. In malesuada tempus elit at malesuada. Quisque aliquet volutpat mauris, vel sodales augue vehicula eget.

                            Integer efficitur quam tincidunt diam interdum pulvinar. Mauris non eros non augue venenatis mollis. Nunc velit lacus, dapibus a suscipit ut, placerat eu ligula. Aenean vestibulum ultrices mattis. Donec pellentesque euismod sapien eget porttitor. Cras ac lacus a ipsum feugiat varius. Nulla sit amet diam vitae quam bibendum feugiat. Sed tincidunt dui ut fermentum euismod. Vestibulum at nibh ultrices, porttitor lorem ac, rutrum ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec est mauris, gravida ac rhoncus euismod, euismod vitae sapien. Nunc tempor lectus vitae semper hendrerit. Pellentesque vitae magna elementum, congue ex non, commodo lectus. Maecenas non urna egestas dui semper tincidunt.
                        </p>
                        <div class="row pull-right">
                            <input id="acceptTerms-2" name="acceptTerms" type="checkbox" required>
                            <label for="acceptTerms-2">I agree with the Terms and Conditions.</label>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/material_theme/js/pages/forms/form-wizard.js"></script>
<script>
   
    $(function () {
        //Advanced form with validation
        var form = $('#wizard_with_validation').show();
        form.steps({
            headerTag: 'h3',
            bodyTag: 'fieldset',
            transitionEffect: 'slideLeft',
            onInit: function (event, currentIndex) {
                $.AdminBSB.input.activate();

                //Set tab width
                var $tab = $(event.currentTarget).find('ul[role="tablist"] li');
                var tabCount = $tab.length;
                $tab.css('width', (100 / tabCount) + '%');

                //set button waves effect
                setButtonWavesEffect(event);
            },
            onStepChanging: function (event, currentIndex, newIndex) {
                if (currentIndex > newIndex) { return true; }

                if (currentIndex < newIndex) {
                    form.find('.body:eq(' + newIndex + ') label.error').remove();
                    form.find('.body:eq(' + newIndex + ') .error').removeClass('error');
                }

                form.validate().settings.ignore = ':disabled,:hidden';
                return form.valid();
            },
            onStepChanged: function (event, currentIndex, priorIndex) {
                setButtonWavesEffect(event);
            },
            onFinishing: function (event, currentIndex) {
                form.validate().settings.ignore = ':disabled';
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                //alert("ok");
                form.submit();
            }
        });

        form.validate({
            highlight: function (input) {
                $(input).parents('.form-line').addClass('error');
            },
            unhighlight: function (input) {
                $(input).parents('.form-line').removeClass('error');
            },
            errorPlacement: function (error, element) {
                $(element).parents('.form-group').append(error);
            },
            rules: {
                'confirm': {
                    equalTo: '#password'
                }
            }
        });
    });
    function setButtonWavesEffect(event) {
        $(event.currentTarget).find('[role="menu"] li a').removeClass('waves-effect');
        $(event.currentTarget).find('[role="menu"] li:not(.disabled) a').addClass('waves-effect');
    }

    $(document).ready(function () {
        loadServiceTags();

        $('input[id="Company_RegNo"]').blur(function () {
            
            checkUEN();
        });

        //$('input[id="EmailAddress"]').blur(function () {
        //    var email = $('input[id="EmailAddress"]').val();
        //    checkEmail(email);
        //});


    });
    function checkEmail() {
        var email = $('input[id="EmailAddress"]').val();
         var ajaxurl = '@Url.Action("CheckEmail", "Registration")';

        $.ajax({
            url: ajaxurl,
            data: { Email: email},
            dataType: 'json',
            success: function (response) {
                console.log(response);
                if (response == false) {
                    //alert("ok");
                } else {
                    alert("Error, already exist");
                    //$('input[id="EmailAddress"]').select();
                }
            },
            error: function (response) {
                alert(response)
            }
        });
    }

    function loadServiceTags() {
        var ajaxurl = '@Url.Action("LoadServiceTags", "Registration")';
        $.ajax({
            url: ajaxurl,
            dataType: 'text',
            success: function (response) {
                //alert(response);
                $('#optgroup').append(response);


                $('#optgroup').multiSelect();
            },
            error: function (response) {
                alert(response)
            }
        });
    }

    function checkUEN(company_uen) {
        var company_uen = $('input[id="Company_RegNo"]').val();
        var message = "";
        if (company_uen == "") {
            message = message + "Singapore UEN format is 9 numeric digits followed by an alphabet (eg. 123456789A), if your company registration is not in this format, please email us at info@budgetmetal.com with attached scans or photos of your business card AND photo ID (driver license or NRIC) for us to help you create an account within 24-hour.";
        } else {
            var regex = new RegExp(/^[0-9]{9}[a-z]{1}$/i);
            if (regex.test(company_uen)) {
                //check uen at server site
                var ajaxurl = '@Url.Action("CheckUEN", "Registration")';

                $.ajax({
                    url: ajaxurl,
                    data: { RegNo: company_uen},
                    dataType: 'json',
                    success: function (response) {
                        if (response.Id != 0) {
                            $("#Company_Id").val(response.Id);
                            $('#Company_Name').val(response.Name);
                            $("#Company_Name").attr('readonly', true);

                            $('#Company_Address').val(response.Address);
                            $("#Company_Address").attr('readonly', true);
                            $('#divServiceTags').hide();
                        } else {
                            $('#Company_Name').removeAttr("readonly");
                            $('#Company_Address').removeAttr("readonly");
                            $('#divServiceTags').show();
                        }

                    },
                    error: function (response) {
                        alert(response)
                    }
                });
                //alert(company_uen);
            } else {
                message = message + "Company UEN field is invalid format! (eg.123456789s)";
            }
        }
        if (message != "") {
            alert(message);
        } else {
            //$("#notify").hide();
        }
    }
</script>