@model Com.BudgetMetal.ViewModels.User.VmUserItem
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Registration</h2>
            </div>
            <div class="body">
                <form id="wizard_with_validation" method="POST" asp-controller="Registration" asp-action="Index" enctype="multipart/form-data">
                    <h3>Company Information</h3>
                    <fieldset>
                        <div class="form-group form-float">
                            <label for="Company_RegNo">Company Registration No. (UEN) <a href="https://www.uen.gov.sg/" target="_blank">?</a></label>
                            <div class="form-line">
                                <input type="text" asp-for="Company.RegNo" class="form-control" placeholder="e.g 123456789A" required>
                                <input type="hidden" asp-for="Company.Id" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="form-group form-float">
                            <label for="Company_Name">Company Name</label>
                            <div class="form-line">
                                <input type="text" asp-for="Company.Name" class="form-control" placeholder="Company Name" required>

                            </div>
                        </div>
                        <div class="form-group form-float">
                            <label for="Company_Address">Company Address</label>
                            <div class="form-line">
                                <textarea rows="3" asp-for="Company.Address" class="form-control no-resize" placeholder="Company Address"></textarea>
                            </div>
                        </div>

                        <div class="form-group" id="divServiceTags">
                            <h5>Please Select Service Tags</h5>
                           
                            <div class="row">
                                <div class="col-sm-6"> <strong>Avaiable Service </strong> </div>
                                <div class="col-sm-6"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <strong> Selected Service </strong></div>
                                <div class="col-sm-12">
                                    <select id="optgroup" class="ms" multiple="multiple" name="serviceTags" required></select>
                                </div>
                            </div>
                            
                        </div>
                    </fieldset>
                    <h3>User Information</h3>
                    <fieldset>
                        <div class="form-group form-float">
                            <label for="EmailAddress">Email Address</label> <span class="text-danger" id="error_email">Email already in use. Please use different email address.</span>
                            <div class="form-line">
                                <input type="email" asp-for="EmailAddress" class="form-control" placeholder="Email" required onfocusout="checkEmail()">

                            </div>
                        </div>
                        <div class="form-group form-float">
                            <label for="Password">Password</label>
                            <div class="form-line">
                                <input type="password" asp-for="Password" class="form-control" placeholder="Password" required>

                            </div>
                        </div>
                        <div class="form-group form-float">
                            <label for="ContactName">Full Name</label>
                            <div class="form-line">
                                <input type="text" asp-for="ContactName" class="form-control" placeholder="Full Name" required>

                            </div>
                        </div>
                        <div class="form-group form-float">
                            <label for="ContactNumber">Contact Number</label>
                            <div class="form-line">
                                <input type="text" asp-for="ContactNumber" class="form-control" placeholder="Contact No." required>
                            </div>
                        </div>


                    </fieldset>
                    <h3>Terms & Conditions - Finish</h3>
                    <fieldset>

                        <p>
                            WEBSITE TERMS OF USE

                            APPLICATION OF TERMS
                            These Terms apply to your use of the Website.  By accessing and using the Website:
                            - you agree to these Terms; and
                            - where your access and use is on behalf of another person (e.g. a company), you confirm that you are authorised to, and do in fact, agree to these Terms on that person’s behalf and that, by agreeing to these Terms on that person’s behalf, that person is bound by these Terms.
                            If you do not agree to these Terms, you are not authorised to access and use the Website, and you must immediately stop doing so.

                            CHANGES
                            We may change these Terms at any time by updating them on the Website.  Unless stated otherwise, any change takes effect immediately.  You are responsible for ensuring you are familiar with the latest Terms.  By continuing to access and use the Website, you agree to be bound by the changed Terms.
                            We may change, suspend, discontinue, or restrict access to, the Website without notice or liability.
                            These Terms were last updated on 1st Jan 2019.

                            DEFINITIONS
                            In these Terms:
                            including and similar words do not imply any limit
                            Loss includes loss of profits, savings, revenue or data, and any other claim, damage, loss, liability and cost, including legal costs on a solicitor and own client basis
                            personal information means information about an identifiable, living person
                            Terms means these terms and conditions titled Website Terms of Use
                            Underlying System means any network, system, software, data or material that underlies or is connected to the Website
                            User ID means a unique name and/or password allocated to you to allow you to access certain parts of the Website
                            We, us or our means Stylar Digital Pte. Ltd.
                            Website means www.ezytender.com
                            You means you or, if clause 1.1b applies, both you and the other person on whose behalf you are acting.

                            YOUR OBLIGATIONS
                            You must provide true, current and complete information in your dealings with us (including when setting up an account), and must promptly update that information as required so that the information remains true, current and complete.
                            If you are given a User ID, you must keep your User ID secure and:
                            not permit any other person to use your User ID, including not disclosing or providing it to any other person; and
                            immediately notify us if you become aware of any disclosure or unauthorised use of your User ID, by sending an email to support@ezytender.com.
                            You must:
                            not act in a way, or use or introduce anything (including any virus, worm, Trojan horse, timebomb, keystroke logger, spyware or other similar feature) that in any way compromises, or may compromise, the Website or any Underlying System, or otherwise attempt to damage or interfere with the Website or any Underlying System; and
                            unless with our agreement, access the Website via standard web browsers only and not by any other method.  Other methods include scraping, deep-linking, harvesting, data mining, use of a robot or spider, automation, or any similar data gathering, extraction or monitoring method.
                            You must obtain our written permission to establish a link to our Website.  If you wish to do so, email your request to support@ezytender.com.
                            You indemnify us against all Loss we suffer or incur as a direct or indirect result of your failure to comply with these Terms, including any failure of a person who accesses and uses our Website by using your User ID.

                            INTELLECTUAL PROPERTY
                            We (and our licensors) own all proprietary and intellectual property rights in the Website (including all information, data, text, graphics, artwork, photographs, logos, icons, sound recordings, videos and look and feel), and the Underlying Systems.

                            DISCLAIMERS
                            To the extent permitted by law, we and our licensors have no liability or responsibility to you or any other person for any Loss in connection with:
                            the Website being unavailable (in whole or in part) or performing slowly;
                            any error in, or omission from, any information made available through the Website;
                            any exposure to viruses or other forms of interference which may damage your computer system or expose you to fraud when you access or use the Website.  To avoid doubt, you are responsible for ensuring the process by which you access and use the Website protects you from this; and
                            any site linked from the Website.  Any link on the Website to other sites does not imply any endorsement, approval or recommendation of, or responsibility for, those sites or their contents, operations, products or operators.
                            We make no representation or warranty that the Website is appropriate or available for use in all countries or that the content satisfies the laws of all countries.  You are responsible for ensuring that your access to and use of the Website is not illegal or prohibited, and for your own compliance with applicable local laws.

                            LIABILITY
                            To the maximum extent permitted by law:
                            you access and use the Website at your own risk; and
                            we are not liable or responsible to you or any other person for any Loss under or in connection with these Terms, the Website, or your access and use of (or inability to access or use) the Website.  This exclusion applies regardless of whether our liability or responsibility arises in contract, tort (including negligence), equity, breach of statutory duty, or otherwise.

                            PRIVACY POLICY
                            You are not required to provide personal information to us, although in some cases if you choose not to do so then we will be unable to make certain sections of the Website available to you.  For example, we may need to have your contact information in order to provide you with updates from our Website.
                            When you provide personal information to us, we will comply with the Singapore Personal Data Protection Act 2012 (PDPA).
                            The personal information you provide to us (including any information provided if you register for an account) is collected and may be used for communicating with you, statistical analysis, the marketing by us of products and services to you, credit checks (if necessary), and research and development.
                            We may also collect technical information whenever you log on to, or visit the public version of, our Website.  This may include information about the way users arrive at, browse through and interact with our Website.  We may collect this type of technical information through the use of cookies and other means.  Cookies are alphanumeric identifiers that we transfer to your computer’s hard drive to enable our systems to recognise your browser.  If you want to disable cookies, you may do so by changing the settings on your browser.  However, if you do so, you may not be able to use all of the functions on the Website.  We use the technical information we collect to have a better understanding of the way people use our Website, to improve the way it works and to personalise it to be more relevant and useful to your particular needs.  We may also use this information to assist in making any advertising we display on the Website more personalised and applicable to your interests.
                            Generally, we do not disclose personal information to third parties for them to use for their own purposes.  However, some of the circumstances in which we may do this are:
                            to service providers and other persons working with us to make the Website available or improve or develop its functionality (e.g. we may use a third party supplier to host the Website);
                            in relation to the proposed purchase or acquisition of our business or assets; or
                            where required by applicable law or any court, or in response to a legitimate request by a law enforcement agency.
                            Any personal information you provide to us may be stored on the secure servers of our trusted service providers, which may be located outside Singapore.  This may involve the transfer of your personal information to countries which have less legal protection for personal information than Singapore.
                            You have the right to request access to and correction of any of the personal information we hold about you.  If you would like to exercise these rights, please email us at support@ezytender.com.

                            SUSPENSION AND TERMINATION
                            Without prejudice to any other right or remedy available to us, if we consider that you have breached these Terms or we otherwise consider it appropriate, we may immediately, and without notice, suspend or terminate your access to the Website (or any part of it).
                            On suspension or termination, you must immediately cease using the Website and must not attempt to gain further access.

                            GENERAL
                            If we need to contact you, we may do so by email or by posting a notice on the Website.  You agree that this satisfies all legal requirements in relation to written communications.
                            These Terms, and any dispute relating to these Terms or the Website, are governed by the law of the Republic of Singapore and the courts of the Republic of Singapore will have exclusive jurisdiction in case of any dispute.
                            Clauses which, by their nature, are intended to survive termination of these Terms, including clauses 4.5, 5, 6, 7, 10.1, continue in force.
                            If any part or provision of these Terms is or becomes illegal, unenforceable, or invalid, that part or provision is deemed to be modified to the extent required to remedy the illegality, unenforceability or invalidity.  If a modification is not possible, the part or provision must be treated for all purposes as severed from these Terms.  The remainder of these Terms will be binding on you.
                            These Terms set out everything agreed by the parties relating to your use of the Website and supersede and cancel anything discussed, exchanged or agreed prior to you agreeing to these Terms.  The parties have not relied on any representation, warranty or agreement relating to the Website that is not expressly set out in the Terms, and no such representation, warranty or agreement has any effect from the date you agreed to these Terms.

                        </p>
                        <div class="row pull-right">
                            <input id="acceptTerms-2" name="acceptTerms" type="checkbox" required>
                            <label for="acceptTerms-2">I agree with the Terms and Conditions.</label>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/material_theme/js/pages/forms/form-wizard.js"></script>
<script>
   
    $(function () {
        //Advanced form with validation
        var form = $('#wizard_with_validation').show();
        form.steps({
            headerTag: 'h3',
            bodyTag: 'fieldset',
            transitionEffect: 'slideLeft',
            onInit: function (event, currentIndex) {
                $.AdminBSB.input.activate();

                //Set tab width
                var $tab = $(event.currentTarget).find('ul[role="tablist"] li');
                var tabCount = $tab.length;
                $tab.css('width', (100 / tabCount) + '%');

                //set button waves effect
                setButtonWavesEffect(event);
            },
            onStepChanging: function (event, currentIndex, newIndex) {
                if (currentIndex > newIndex) { return true; }

                if (currentIndex < newIndex) {
                    form.find('.body:eq(' + newIndex + ') label.error').remove();
                    form.find('.body:eq(' + newIndex + ') .error').removeClass('error');
                }

                form.validate().settings.ignore = ':disabled,:hidden';
                return form.valid();
            },
            onStepChanged: function (event, currentIndex, priorIndex) {
                setButtonWavesEffect(event);
            },
            onFinishing: function (event, currentIndex) {
                form.validate().settings.ignore = ':disabled';
                return form.valid();
            },
            onFinished: function (event, currentIndex) {
                //alert("ok");
                form.submit();
            }
        });

        form.validate({
            highlight: function (input) {
                $(input).parents('.form-line').addClass('error');
            },
            unhighlight: function (input) {
                $(input).parents('.form-line').removeClass('error');
            },
            errorPlacement: function (error, element) {
                $(element).parents('.form-group').append(error);
            },
            rules: {
                'confirm': {
                    equalTo: '#password'
                }
            }
        });
    });
    function setButtonWavesEffect(event) {
        $(event.currentTarget).find('[role="menu"] li a').removeClass('waves-effect');
        $(event.currentTarget).find('[role="menu"] li:not(.disabled) a').addClass('waves-effect');
    }

    $(document).ready(function () {
        loadServiceTags();

        $('input[id="Company_RegNo"]').blur(function () {
            
            checkUEN();
        });

        $('#error_email').hide();

        //$('input[id="EmailAddress"]').blur(function () {
        //    var email = $('input[id="EmailAddress"]').val();
        //    checkEmail(email);
        //});


    });
    function checkEmail() {
        var email = $('input[id="EmailAddress"]').val();
        var ajaxurl = '@Url.Action("CheckEmail", "Registration")';

        $('#error_email').hide();

        $.ajax({
            url: ajaxurl,
            data: { Email: email},
            dataType: 'json',
            success: function (response) {
                console.log(response);
                if (response == false) {
                    //alert("ok");
                } else {
                    $('#error_email').show();

                    //alert("Error, already exist");
                    $('input[id="EmailAddress"]').select();
                }
            },
            error: function (response) {
                alert(response)
            }
        });
    }

    function loadServiceTags() {
        var ajaxurl = '@Url.Action("LoadServiceTags", "Registration")';
        $.ajax({
            url: ajaxurl,
            dataType: 'text',
            success: function (response) {
                //alert(response);
                $('#optgroup').append(response);


                $('#optgroup').multiSelect();
            },
            error: function (response) {
                alert(response)
            }
        });
    }

    function checkUEN(company_uen) {
        var company_uen = $('input[id="Company_RegNo"]').val();
        var message = "";
        if (company_uen == "") {
            message = message + "Singapore UEN format is 9 numeric digits followed by an alphabet (eg. 123456789A), if your company registration is not in this format, please email us at info@budgetmetal.com with attached scans or photos of your business card AND photo ID (driver license or NRIC) for us to help you create an account within 24-hour.";
        } else {
            var regex = new RegExp(/^[0-9]{9}[a-z]{1}$/i);
            if (regex.test(company_uen)) {
                //check uen at server site
                var ajaxurl = '@Url.Action("CheckUEN", "Registration")';

                $.ajax({
                    url: ajaxurl,
                    data: { RegNo: company_uen},
                    dataType: 'json',
                    success: function (response) {
                        // clean existing values first
                        $("#Company_Id").val('');
                        $('#Company_Name').val('');
                        $('#Company_Address').val('');

                        // populate if respnose has value
                        if (response.Id != 0) {
                            $("#Company_Id").val(response.Id);
                            $('#Company_Name').val(response.Name);
                            $("#Company_Name").attr('readonly', true);

                            $('#Company_Address').val(response.Address);
                            $("#Company_Address").attr('readonly', true);
                            $('#divServiceTags').hide();
                        } else {
                            $('#Company_Name').removeAttr("readonly");
                            $('#Company_Address').removeAttr("readonly");
                            $('#divServiceTags').show();
                        }

                    },
                    error: function (response) {
                        alert(response)
                    }
                });
                //alert(company_uen);
            } else {
                message = message + "Company UEN field is invalid format! (eg.123456789s)";
            }
        }
        if (message != "") {
            alert(message);
        } else {
            //$("#notify").hide();
        }
    }
</script>