@model Com.BudgetMetal.ViewModels.CodeTable.VmCodeTableItem

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="container-fluid">
    <h3>Create Code Table</h3>
    <div class="card">
        <div class="row"></div>
        <div class="row clearfix">
            <div class="col-md-8">
                <div class="card-panel">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-line col-md-8">
                            <label asp-for="Id" class="control-label"></label>
                            <input asp-for="Id" class="form-control" />
                            <span asp-validation-for="Id" class="text-danger"></span>
                        </div>
                        <div class="form-line col-md-8">
                            <br />
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-line col-md-8">
                            <br />
                            <label asp-for="Value" class="control-label"></label>
                            <input asp-for="Value" class="form-control" />
                            <span asp-validation-for="Value" class="text-danger"></span>
                        </div>
                        <div class="form-line col-md-8">
                            <br />
                            <label asp-for="CodeCategory_Id" class="control-label">Code Category</label>
                            <select asp-for="CodeCategory_Id" asp-items="@(new SelectList(Model.CodeCategoryList, "Id", "Name"))" class="form-control">
                                <option>Please select one</option>
                            </select>
                            <span asp-validation-for="CodeCategory_Id" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="CreatedBy" class="form-control" />
                        <div class="form-group col-md-6">
                            <br />
                            <input type="submit" value="Create" class="btn btn-info" />
                        </div>
                        <br />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
