@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Public_Layout.cshtml";
}

@*<div id="Subheader" style="padding:290px 0 190px">
    <div class="container">
        <div class="column one">
            <h1 class="title">About us</h1>
        </div>
    </div>
</div>
</div>*@
<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section equal-height-wrap" style="padding-top:100px; padding-bottom:60px">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one-second valign-middle clearfix" style="padding:0 1%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_image">
                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                        <div class="image_wrapper">
                                            <img class="scale-with-grid" src="/public_site/images/home_company2_about1.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wrap mcb-wrap one-second valign-middle clearfix" style="padding:0 0 0 5%">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr clearfix">
                                        <h3>Lorem Ipsum</h3>
                                        <hr class="no_line" style="margin: 0 auto 10px">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu erat in turpis rutrum dictum dictum vitae diam. Nam tellus risus, luctus elementum vestibulum sit amet, elementum in dolor. Maecenas vehicula, nisl nec gravida mollis, sapien justo vehicula augue, sit amet accumsan velit lacus id ipsum. Nam auctor ullamcorper mauris. Ut molestie eros et placerat commodo. Morbi eu dolor erat. Phasellus egestas accumsan sollicitudin. Fusce congue in eros id interdum. Aliquam erat volutpat.
                                        </p>
                                        <p>
                                            Proin mollis tempor est a luctus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent non sem vitae arcu porta hendrerit. Sed facilisis tincidunt tincidunt. Aliquam convallis, ante porttitor mollis varius, lacus elit dignissim sem, in consequat odio orci id ante. Nulla quis mauris consequat, pharetra nulla non, finibus ante. Nullam ultrices quam a erat blandit cursus. Proin quis arcu venenatis, mattis orci sit amet, feugiat arcu. Vivamus quis commodo libero. Nam aliquam est quis ligula egestas luctus. Duis sit amet ultricies mi, sed semper mauris. Aliquam erat volutpat. Morbi mattis massa libero. Mauris aliquam enim aliquet, dignissim sapien ac, finibus tortor.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="section mcb-section" style="padding-top:100px; padding-bottom:60px; background-color:#f4f6fd">
                                    <div class="section_wrapper mcb-section-inner">
                                        <div class="wrap mcb-wrap one valign-top clearfix">
                                            <div class="mcb-wrap-inner">
                                                <div class="column mcb-column one-fourth column_placeholder">
                                                    <div class="placeholder">
                                                        &nbsp;
                                                    </div>
                                                </div>
                                                <div class="column mcb-column one-second column_column">
                                                    <div class="column_attr clearfix align_center">
                                                        <h2>Nunc urna libero</h2>
                                                        <p>
                                                            Curabitur sed iaculis dolor, non congue ligula. Maecenas imperdiet ante eget hendrerit posuere.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wrap mcb-wrap one-third valign-top clearfix" style="padding:0 2%">
                                            <div class="mcb-wrap-inner">
                                                <div class="column mcb-column one column_image">
                                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                                        <div class="image_wrapper">
                                                            <img class="scale-with-grid" src="/public_site/images/home_company2_about2.jpg">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column mcb-column one column_column">
                                                    <div class="column_attr clearfix align_center">
                                                        <h3 style="margin-bottom: 4px">John Doe</h3>
                                                        <p>
                                                            Fusce ut velit
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wrap mcb-wrap one-third valign-top clearfix" style="padding:0 2%">
                                            <div class="mcb-wrap-inner">
                                                <div class="column mcb-column one column_image">
                                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                                        <div class="image_wrapper">
                                                            <img class="scale-with-grid" src="/public_site/images/home_company2_about3.jpg">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column mcb-column one column_column">
                                                    <div class="column_attr clearfix align_center">
                                                        <h3 style="margin-bottom: 4px">Patricia Ipsa</h3>
                                                        <p>
                                                            Vivamus in diam
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wrap mcb-wrap one-third valign-top clearfix" style="padding:0 2%">
                                            <div class="mcb-wrap-inner">
                                                <div class="column mcb-column one column_image">
                                                    <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                                        <div class="image_wrapper">
                                                            <img class="scale-with-grid" src="/public_site/images/home_company2_about4.jpg">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="column mcb-column one column_column">
                                                    <div class="column_attr clearfix align_center">
                                                        <h3 style="margin-bottom: 4px">Jessica Parker</h3>
                                                        <p>
                                                            Ut ultricies
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="section mcb-section" style="padding-top:100px; padding-bottom:60px">
                                    <div class="section_wrapper mcb-section-inner">
                                        <div class="wrap mcb-wrap one valign-top clearfix">
                                            <div class="mcb-wrap-inner">
                                                <div class="column mcb-column one-fourth column_placeholder">
                                                    <div class="placeholder">
                                                        &nbsp;
                                                    </div>
                                                </div>
                                                <div class="column mcb-column one-second column_column">
                                                    <div class="column_attr clearfix align_center">
                                                        <h2>Aliquam consectetur orci eget</h2>
                                                        <p>
                                                            Vivamus in diam turpis. In condimentum maximus tristique. Maecenas non laoreet odio. Fusce lobortis porttitor.
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="column mcb-column one column_column">
                                                    <div class="column_attr clearfix">
                                                        <table class="company2-table">
                                                            <tbody>
                                                                <tr>
                                                                    <td class="t1">Lorem ipsum dolor sit amet</td>
                                                                    <td class="t2">Nulla mauris dolor gravida</td>
                                                                    <td class="t3">
                                                                        <div class="image_frame image_item scale-with-grid no_border hover-disable">
                                                                            <div class="image_wrapper">
                                                                                <a href="#">
                                                                                    <div class="mask"></div>
                                                                                    <img class="scale-with-grid" src="/public_site/images/home_company2_pic5.png">
                                                                                </a>
                                                                                <div class="image_links">
                                                                                    <a href="#" class="link"><i class="icon-link"></i></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="t1">Phasellus scelerisque sapien</td>
                                                                    <td class="t2">Duis ultricies malesuada</td>
                                                                    <td class="t3">
                                                                        <div class="image_frame image_item scale-with-grid no_border hover-disable">
                                                                            <div class="image_wrapper">
                                                                                <a href="#">
                                                                                    <div class="mask"></div>
                                                                                    <img class="scale-with-grid" src="/public_site/images/home_company2_pic5.png">
                                                                                </a>
                                                                                <div class="image_links">
                                                                                    <a href="#" class="link"><i class="icon-link"></i></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="t1">Orci varius natoque</td>
                                                                    <td class="t2">Phasellus scelerisque sapien sit</td>
                                                                    <td class="t3">
                                                                        <div class="image_frame image_item scale-with-grid no_border hover-disable">
                                                                            <div class="image_wrapper">
                                                                                <a href="#">
                                                                                    <div class="mask"></div>
                                                                                    <img class="scale-with-grid" src="/public_site/images/home_company2_pic5.png">
                                                                                </a>
                                                                                <div class="image_links">
                                                                                    <a href="#" class="link"><i class="icon-link"></i></a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div> -->

            </div>
        </div>
    </div>
</div>