@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Public_Layout.cshtml";
}


<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">

                <div class="section mcb-section equal-height-wrap" style="padding-top:100px; padding-bottom:60px">
                    <div class="section_wrapper mcb-section-inner">
                        <h3></h3>
                        <p>

                        </p>
                    </div>
                </div>
                <div class="section mcb-section equal-height-wrap" style="padding-top:100px; padding-bottom:60px">
                    <div class="section_wrapper mcb-section-inner">
                        <h3></h3>
                        <p>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="http://maps.google.com/maps/api/js?sensor=false&ver=5.9"></script>
<script src="js/email.js"></script>
<script>
    function resizeIframe(obj) {
        var h = obj.contentWindow.document.body.scrollHeight + 200
        obj.style.height = h + 'px';
    }
</script>

