@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Public_Layout.cshtml";
}


<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">

                <iframe src="@(Url.Action("ConfirmUser", "Registration"))?token=@(ViewBag.token)&e=@(ViewBag.e)&t=@(ViewBag.t)" width="100%" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>


            </div>
        </div>
    </div>
</div>


<script>
    function resizeIframe(obj) {
        var h = obj.contentWindow.document.body.scrollHeight + 200
        obj.style.height = h + 'px';
    }
</script>

