@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Public_Layout.cshtml";
}
<div id="Header_wrapper" class="bg-parallax" data-enllax-ratio="0.2">
    <div id="Subheader" style="padding: 10px 0 50px">
        <!-- <div id="Subheader" style="padding:290px 0 190px"> copied -->
        <div class="container">
            <div class="column one">
                <h1 class="title">FAQS</h1>
            </div>
        </div>
    </div>
</div>
<div id="Content">
    <div class="content_wrapper clearfix">
        <br /><br />
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section equal-height-wrap">
                    <div class="section_wrapper mcb-section-inner">
                        <h3>
                            FAQS
                        </h3>
                        <h4>Q1. How to sign up as Buyer on EzyTender?</h4>
                        <p>
                            A1. EzyTender has a user subscription fee for user who plans to use our services to run their bid management process for Request for Quotation/Proposal (RFQ/RFP). We term such users as Buyer on our platform. We help bid manager/contract department to increase efficiency and transparency into their procurement process by offering the following capabilities:
                            <br />-	Creation of new RFQ by inviting suppliers from our curated list
                            <br />-	Digital records in the cloud that can be accessed 24/7 on any connected devices
                            <br />-	Tracking and automated reminders for all stake-holders in the bid management process
                            <br />-	Ecosystem of ratings and feedbacks  on Suppliers.
                            <br />Contact <a href="#" target="_blank">info@ezytender.com</a>or Tel: +65 6519 0961, we’ll fix a time to visit you and setup account access. We’ll also explain the low fee structure which we charge to maintain the platform and provide technical support.
                        </p>
                        <hr />
                        <h4>Q2. How to sign up as Supplier on EzyTender?</h4>
                        <p>
                            A2. Visit <a href="https://ezytender.com" target="_blank">ezytender.com</a>, click on “Sign Up”. Follow the instructions on the Registration page to fill in the relevant details. After filling up the form, click “Next”, and you will be directed to accept our terms of use. Once you acknowledged, we will trigger a verification email to your registered email account for validation. Once you click on the verification link in your email, you can log into Exytender.com with your Username and chosen password.
                        </p>
                        <hr />
                        <h4>Q3. My company business registration number is not in the accepted format?</h4>
                        <p>
                            A3. Do note that during registration, we only accept the company registration number format following the most current Singapore ACRA format of 9-number followed by an alphabet. If your company business registration is not in this formation, please email to info@ezytender.com with a copy of photo or scan of your business card (front/back) together with your photo ID. We take pride in ensuring that the community within ExyTender are all properly validated, so only genuine business activities are conducted on our portal.
                        </p>
                        <hr />
                        <h4>
                            Q4. I cannot register on the portal, as my company email is a public email domain (eg. Gmail, yahoo mail, etc).
                        </h4>
                        <p>
                            A4. Do note that during registration, we only accept non-public domain email addresses. If your company uses public domain email addresses for business communication, please email to info@ezytender.com with a copy of photo or scan of your business card (front/back) together with your photo ID. We take pride in ensuring that the community within EzyTender are all properly validated, so only genuine business activities are conducted on our portal.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
