@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Public_Layout.cshtml";
}
    <div id="Header_wrapper" class="bg-parallax" data-enllax-ratio="0.2">
        <div id="Subheader" style="padding: 10px 0 50px">
            <!-- <div id="Subheader" style="padding:290px 0 190px"> copied -->
            <div class="container">
                <div class="column one">
                    <h1 class="title">Policy</h1>
                </div>
            </div>
        </div>
    </div>
    <div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="entry-content">
                    <div class="section mcb-section equal-height-wrap" style="padding-top:100px; padding-bottom:60px">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one-second valign-middle clearfix" style="padding:0 1%">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_image">
                                        <div class="image_frame image_item no_link scale-with-grid aligncenter no_border">
                                            <div class="image_wrapper">
                                                <img class="scale-with-grid" src="/public_site/images/home_company2_about1.jpg">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wrap mcb-wrap one-second valign-middle clearfix" style="padding:0 0 0 5%">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one column_column">
                                        <div class="column_attr clearfix">
                                            <!-- <h3>Lorem Ipsum</h3> -->
                                            <hr class="no_line" style="margin: 0 auto 10px">
                                            <h5>Policy</h5>
                                            <p>
                                                Stylar Digital Pte Ltd (Stylar Digital) is a young and dynamic company founded by a group of like-minded IT professionals. Our passion is to use technology to help Small Medium Enterprises (SMEs) improve their productivity and competitiveness..
                                            </p>
                                            <p>
                                                EzyTender is the second product from the team. The aim of the product is to provide SMEs a platform they can use to improve their business efficiency in the procurement process. Beside productivity improvement, the bigger value is that the transparency of the entire procurement process will be elevated. All communications (Tender Documents, Clarification, Quotes, etc) are captured and can be accessed by approved personnel anytime, anywhere with an internet connection. Hierarchy is built into the tool to ensure proper approval and review are made at each stage of the process for accountability.
                                            </p>
                                            <p>
                                                As a company we have decided to keep the price of EzyTender at a low rate to encourage more companies to come onboard with using technology to improve their productivity and process control. Many studies have shown that implementing a better procurement process control will end up helping to improve cost containment in purchasing. Do contact us for a free consultation (sales hotline +65 6519 0961 or email to <a href="mailto:info@ezytender.com">info@ezytender.com</a>) on how we can help you to save money.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    </div>
