@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Public_Layout.cshtml";
}

<div id="Subheader" style="padding:290px 0 190px">
    <div class="container">
        <div class="column one">
            <h1 class="title">SignIn</h1>
        </div>
    </div>
</div>
        </div>
<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">

                <iframe src="@(Url.Action("SignIn", "User"))" width="100%" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>


            </div>
        </div>
    </div>
</div>

<script src="http://maps.google.com/maps/api/js?sensor=false&ver=5.9"></script>
<script src="js/email.js"></script>
<script>
    function resizeIframe(obj) {
        obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
    }
</script>

