@{
    ViewData["Title"] = "Contact";
    Layout = "~/Views/Shared/_Public_Layout.cshtml";
}

@*<div id="Subheader" style="padding:290px 0 190px">
    <div class="container">
        <div class="column one">
            <h1 class="title">Tender Board</h1>
        </div>
    </div>
</div>
        </div>*@
<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                
                    <iframe id="myIframe" src="@Url.Action("RFQ", "Public")" width="100%" frameborder="0" scrolling="no" height="800px" >
                        
                    </iframe>
                
                
            </div>
        </div>
    </div>
</div>



<script>
    function resizeIframe(obj) {
        var h = obj.contentWindow.document.body.scrollHeight;
        obj.style.height = h + 'px';
    }
</script>