
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangePassword</h2>
<section>
    <div class="row">
        <div class="card">
            <div class="header">
                <strong>Reset Password</strong>
            </div>
            <div class="body">
                <div class="row" id="messageToUser">

                </div>
                <div class="row" id="OldPassword">
                    <div class="col-sm-3">
                        <label for="currentPassword">Current Password :</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="password" name="currentPassword" id="currentPassword" value="" class="form-control" required onfocusout="CheckCurrentPassword()" />
                        <span class="text-danger" id="current_password">Current Password is wrong.</span>
                    </div>
                </div>
                <div class="row" id="NewPassword">
                    <div class="col-sm-3">
                        <label for="email">New Password :</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="password" name="newPassword" id="newPassword" value="" class="form-control" />
                        <span class="text-danger" id="error_password">Password does not match.</span>
                        <span class="text-danger" id="confirm_password">Current password and new password are the same.</span>
                    </div>
                </div>
                <div class="row" id="ConfirmPassword">
                    <div class="col-sm-3">
                        <label for="email">Confirm New Password :</label>
                    </div>
                    <div class="col-sm-4">
                        <input type="password" name="confirmPassword" id="confirmPassword" value="" class="form-control" required onfocusout="checkPassword()" />

                        <br />
                        <button class="btn btn-primary" id="btnChangePassword"> Change Password</button>
                    </div>
                    <div class="col-sm-5">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {
        $('#error_password').hide();
        $('#current_password').hide();
        $('#confirm_password').hide();
    });

    function checkPassword() {
        $('#error_password').hide();

        var newPassword = $('input[id="newPassword"]').val();

        var confirmPassword = $('input[id="confirmPassword"]').val();

        if (newPassword != confirmPassword) {
            $('#error_password').show();
            $('input[id="newPassword"]').select();
        }
    }

    $("#btnChangePassword").click(function () {
        var currentPassword = $('input[id="currentPassword"]').val();
        var newPassword = $('input[id="newPassword"]').val();
        var confirmPassword = $('input[id="confirmPassword"]').val();
        console.log(CheckCurrentPassword());
        if (newPassword != confirmPassword) {
            $('#error_password').show();
            $('input[id="newPassword"]').select();
        }
        else if (currentPassword == newPassword) {
            $('#confirm_password').show();
            $('input[id="newPassword"]').select();
        } else {
            ChangePassword();
        }
    });

    function ChangePassword() {
        var password = $('input[id="newPassword"]').val();
        var ajaxurl = '@Url.Action("ChangesPassword", "User")';

        $.ajax({
            url: ajaxurl,
            data: { Password: password},
            dataType: 'json',
            success: function (response) {
                $("#messageToUser").empty();
                var message = "";
                console.log(response);
                if (response.IsSuccess == true) {
                    message = "<div class='alert alert-success'> You have successfully change password.</div>";
                } else {
                    message = "<div class='alert alert-danger'> You did not change password.</div>";
                }
                $("#messageToUser").append(message);
            },
            error: function (response) {
                alert(response)
            }
        });
    }

    function CheckCurrentPassword() {

        var currentPassword = $('input[id="currentPassword"]').val();
        var ajaxurl = '@Url.Action("CheckCurrentPassword", "User")';
        $('#current_password').hide();
        $.ajax({
            url: ajaxurl,
            data: { CurrentPassword: currentPassword },
            dataType: 'json',
            success: function (response) {
                if (response == false) {
                    $('#current_password').show();
                    $('input[id="currentPassword"]').select();
                } else {
                    $('#current_password').hide();
                }
            },
            error: function (response) {
                alert(response)
            }
        });
    }
</script>
