@model Com.BudgetMetal.DBEntities.User
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Registration</h2>
            </div>
            <div class="body">
                <form id="wizard_with_validation" method="POST">
                    <h3>Company Information</h3>
                    <fieldset>
                        <div class="form-group form-float">
                            <label for="quote_no">Company Registration No. (UEN) <a href="https://www.uen.gov.sg/" target="_blank">?</a></label>
                            <div class="form-line">
                                <input type="text" asp-for="Company.RegNo" class="form-control" placeholder="">

                            </div>
                        </div>
                        <div class="form-group form-float">
                            <label for="quote_no">Company Name</label>
                            <div class="form-line">
                                <input type="text" asp-for="Company.Name" class="form-control" placeholder="">

                            </div>
                        </div>
                        <div class="form-group form-float">
                            <label for="quote_no">Company Address</label>
                            <div class="form-line">
                                <textarea rows="3" asp-for="Company.Address" class="form-control no-resize" placeholder=""></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <h3>User Information</h3>
                    <fieldset>
                        <div class="form-group form-float">
                            <label for="quote_no">Email Address</label>
                            <div class="form-line">
                                <input type="email" asp-for="EmailAddress" class="form-control" placeholder="">

                            </div>
                        </div>
                        <div class="form-group form-float">
                            <label for="quote_no">Password</label>
                            <div class="form-line">
                                <input type="password" asp-for="Password" class="form-control" placeholder="">

                            </div>
                        </div>
                        <div class="form-group form-float">
                            <label for="quote_no">Full Name</label>
                            <div class="form-line">
                                <input type="text" asp-for="ContactName" class="form-control" placeholder="">

                            </div>
                        </div>
                        <div class="form-group form-float">
                            <label for="quote_no">Contact Number</label>
                            <div class="form-line">
                                <input type="text" asp-for="ContactNumber" class="form-control" placeholder="">

                            </div>
                        </div>
                        <div class="form-group form-float">
                            <input type="checkbox" id="IsSupplier" name="IsSupplier" class="chk-col-red" />
                            <label for="IsSupplier">Register as a supplier</label>
                        </div>
                        <div class="form-group" id="divServiceTags">
                            <label for="quote_no">Please Select Service Tags</label>
                            <div class="body">
                                <select id="optgroup" class="ms" multiple="multiple">
                                    <optgroup label="Alaskan/Hawaiian Time Zone">
                                        <option value="AK">Alaska</option>
                                        <option value="HI">Hawaii</option>
                                    </optgroup>
                                    <optgroup label="Pacific Time Zone">
                                        <option value="CA">California</option>
                                        <option value="NV">Nevada</option>
                                        <option value="OR">Oregon</option>
                                        <option value="WA">Washington</option>
                                    </optgroup>
                                    <optgroup label="Mountain Time Zone">
                                        <option value="AZ">Arizona</option>
                                        <option value="CO">Colorado</option>
                                        <option value="ID">Idaho</option>
                                        <option value="MT">Montana</option>
                                        <option value="NE">Nebraska</option>
                                        <option value="NM">New Mexico</option>
                                        <option value="ND">North Dakota</option>
                                        <option value="UT">Utah</option>
                                        <option value="WY">Wyoming</option>
                                    </optgroup>
                                    <optgroup label="Central Time Zone">
                                        <option value="AL">Alabama</option>
                                        <option value="AR">Arkansas</option>
                                        <option value="IL">Illinois</option>
                                        <option value="IA">Iowa</option>
                                        <option value="KS">Kansas</option>
                                        <option value="KY">Kentucky</option>
                                        <option value="LA">Louisiana</option>
                                        <option value="MN">Minnesota</option>
                                        <option value="MS">Mississippi</option>
                                        <option value="MO">Missouri</option>
                                        <option value="OK">Oklahoma</option>
                                        <option value="SD">South Dakota</option>
                                        <option value="TX">Texas</option>
                                        <option value="TN">Tennessee</option>
                                        <option value="WI">Wisconsin</option>
                                    </optgroup>
                                    <optgroup label="Eastern Time Zone">
                                        <option value="CT">Connecticut</option>
                                        <option value="DE">Delaware</option>
                                        <option value="FL">Florida</option>
                                        <option value="GA">Georgia</option>
                                        <option value="IN">Indiana</option>
                                        <option value="ME">Maine</option>
                                        <option value="MD">Maryland</option>
                                        <option value="MA">Massachusetts</option>
                                        <option value="MI">Michigan</option>
                                        <option value="NH">New Hampshire</option>
                                        <option value="NJ">New Jersey</option>
                                        <option value="NY">New York</option>
                                        <option value="NC">North Carolina</option>
                                        <option value="OH">Ohio</option>
                                        <option value="PA">Pennsylvania</option>
                                        <option value="RI">Rhode Island</option>
                                        <option value="SC">South Carolina</option>
                                        <option value="VT">Vermont</option>
                                        <option value="VA">Virginia</option>
                                        <option value="WV">West Virginia</option>
                                    </optgroup>
                                </select>
                            </div>
                        </div>
                    </fieldset>
                    <h3>Terms & Conditions - Finish</h3>
                    <fieldset>

                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in bibendum neque. Proin arcu metus, finibus ac nulla ac, cursus sodales tortor. Nullam eros ex, porttitor ut fermentum sit amet, faucibus id ipsum. Duis vitae mauris odio. Curabitur feugiat turpis vitae tincidunt aliquet. Integer mattis felis quis luctus tincidunt. Donec tristique ex mollis est vulputate faucibus. Suspendisse porttitor auctor luctus. Donec volutpat erat lorem, quis elementum nulla aliquet at.

                            Integer feugiat lobortis ipsum, sit amet efficitur arcu elementum ac. Curabitur lacinia venenatis venenatis. Sed maximus dolor vel tellus feugiat varius. Suspendisse vitae nibh elit. Pellentesque nisl enim, fermentum eget congue non, porttitor sit amet nisl. Vestibulum elementum odio eu tortor volutpat, in egestas ante sagittis. Nulla iaculis vehicula turpis vitae tincidunt. Praesent pretium hendrerit viverra. Pellentesque accumsan libero et risus molestie tincidunt. Duis turpis velit, tristique sit amet erat non, pellentesque dignissim quam. Ut vitae metus dolor. Curabitur sit amet mollis nisi, sed viverra diam.

                            Pellentesque id sollicitudin purus. Nullam convallis tempus rhoncus. Donec id nisi dui. Nulla vel sollicitudin odio. Donec molestie tincidunt dui, ut hendrerit nisi pellentesque a. Integer massa mauris, tempus sit amet urna at, imperdiet mattis turpis. Pellentesque iaculis metus non lacinia suscipit. Ut at sapien eget nunc porta lacinia vel at libero. Suspendisse semper est eget velit mollis lacinia eget non purus. Sed suscipit nec sem ac sodales.

                            Phasellus rutrum viverra tincidunt. Vivamus eget consequat neque. In fermentum tincidunt iaculis. Aenean quis leo sed nibh mattis ullamcorper. Aenean sit amet elit suscipit velit egestas cursus eu sit amet neque. Mauris vitae mauris quis velit vehicula convallis. Cras pulvinar elit eu nisi pulvinar lobortis. Donec velit ante, convallis eu sagittis sit amet, cursus a ex. Proin maximus dui non porta tempus. In malesuada tempus elit at malesuada. Quisque aliquet volutpat mauris, vel sodales augue vehicula eget.

                            Integer efficitur quam tincidunt diam interdum pulvinar. Mauris non eros non augue venenatis mollis. Nunc velit lacus, dapibus a suscipit ut, placerat eu ligula. Aenean vestibulum ultrices mattis. Donec pellentesque euismod sapien eget porttitor. Cras ac lacus a ipsum feugiat varius. Nulla sit amet diam vitae quam bibendum feugiat. Sed tincidunt dui ut fermentum euismod. Vestibulum at nibh ultrices, porttitor lorem ac, rutrum ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec est mauris, gravida ac rhoncus euismod, euismod vitae sapien. Nunc tempor lectus vitae semper hendrerit. Pellentesque vitae magna elementum, congue ex non, commodo lectus. Maecenas non urna egestas dui semper tincidunt.
                        </p>
                        <div class="row pull-right">
                            <input id="acceptTerms-2" name="acceptTerms" type="checkbox" required>
                            <label for="acceptTerms-2">I agree with the Terms and Conditions.</label>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#optgroup').multiSelect();

    });


</script>