
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<h2>Index</h2>

<form action="Facebook/PostonWall" method="post">
    <textarea name="postMessage"></textarea>
    <input type="submit" name="submit" value="Post" />
</form>