<!-- User Info -->
<div class="user-info">
    <div class="row clearfix">

    </div>
</div>
<div class="menu">
    <ul class="list">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active">
            <a asp-area="" asp-controller="Home" asp-action="Index">
                <i class="material-icons">home</i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="header">Quick Access</li>
        <li>
            <a asp-area="" asp-controller="Rfqs" asp-action="Create">
                <i class="material-icons col-red">donut_large</i>
                <span>New RFQ</span>
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Quotation" asp-action="Create">
                <i class="material-icons col-amber">donut_large</i>
                <span>New Quotation</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);">
                <i class="material-icons col-light-blue">donut_large</i>
                <span>Notifications</span>
            </a>
        </li>
        <li class="header">Workspace</li>
        <li>
            <a asp-area="" asp-controller="Rfqs" asp-action="Index">
                <i class="material-icons col-amber">donut_large</i>
                <span>Request for Quotation</span>
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Facebook" asp-action="Index">
                <i class="material-icons col-amber">donut_large</i>
                <span>Post on Facebook Page</span>
            </a>
        </li>
        <li>
            <a asp-area="" asp-controller="Quotation" asp-action="Index">
                <i class="material-icons col-amber">donut_large</i>
                <span>Quotation</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons">settings</i>
                <span>Settings</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="About">
                        Company Profile
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Home" asp-action="Contact">
                        Account
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons col-amber">person</i>
                <span>Admin</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a asp-area="" asp-controller="Users" asp-action="Index">
                        User
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Roles" asp-action="Index">
                        User Role
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0);" class="menu-toggle">
                <i class="material-icons col-amber">settings</i>
                <span>Set Up</span>
            </a>
            <ul class="ml-menu">
                <li>
                    <a asp-area="" asp-controller="CodeCategories" asp-action="Index">
                        Code Category
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="CodeTables" asp-action="Index">
                        Code Table
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Companies" asp-action="Index">
                        Companies
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Industries" asp-action="Index">
                        Industry
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="ServiceTags" asp-action="Index">
                        Service Tags
                    </a>
                </li>
                <li>
                    <a asp-area="" asp-controller="Blogs" asp-action="Index">
                        Blogs
                    </a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div class="legal">

</div>