
@{
    ViewData["Title"] = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #loader {
    bottom: 0;
    height: 175px;
    left: 0;
    margin: auto;
    position: fixed;
    right: 0;
    top: 0;
    width: 175px;
    z-index: 100000;
}
#loader .dot {
    bottom: 0;
    height: 100%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 87.5px;
}
#loader .dot::before {
    border-radius: 100%;
    content: "";
    height: 87.5px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform: scale(0);
    width: 87.5px;
}
#loader .dot:nth-child(7n+1) {
    transform: rotate(45deg);
}
#loader .dot:nth-child(7n+1)::before {
    animation: 0.8s linear 0.1s normal none infinite running load;
    background: #00ff80 none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+2) {
    transform: rotate(90deg);
}
#loader .dot:nth-child(7n+2)::before {
    animation: 0.8s linear 0.2s normal none infinite running load;
    background: #00ffea none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+3) {
    transform: rotate(135deg);
}
#loader .dot:nth-child(7n+3)::before {
    animation: 0.8s linear 0.3s normal none infinite running load;
    background: #00aaff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+4) {
    transform: rotate(180deg);
}
#loader .dot:nth-child(7n+4)::before {
    animation: 0.8s linear 0.4s normal none infinite running load;
    background: #0040ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+5) {
    transform: rotate(225deg);
}
#loader .dot:nth-child(7n+5)::before {
    animation: 0.8s linear 0.5s normal none infinite running load;
    background: #2a00ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+6) {
    transform: rotate(270deg);
}
#loader .dot:nth-child(7n+6)::before {
    animation: 0.8s linear 0.6s normal none infinite running load;
    background: #9500ff none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+7) {
    transform: rotate(315deg);
}
#loader .dot:nth-child(7n+7)::before {
    animation: 0.8s linear 0.7s normal none infinite running load;
    background: magenta none repeat scroll 0 0;
}
#loader .dot:nth-child(7n+8) {
    transform: rotate(360deg);
}
#loader .dot:nth-child(7n+8)::before {
    animation: 0.8s linear 0.8s normal none infinite running load;
    background: #ff0095 none repeat scroll 0 0;
}
#loader .lading {
    background-image: url("../images/loading.gif");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    bottom: -40px;
    height: 20px;
    left: 0;
    position: absolute;
    right: 0;
    width: 180px;
}
 /*load {
100% {
    opacity: 0;
    transform: scale(1);
}
}
 load {
100% {
    opacity: 0;
    transform: scale(1);
}
}*/
</style>
<div id="loader">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="lading"></div>
</div>


<div class="container-fluid">
    <!-- Image Gallery -->
    <div class="block-header">
        <h2>
            IMAGE GALLERY
        </h2>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
                <div class="header">
                    <div class="row">
                        <div class="col-sm-11">
                            <input type="text" class="form-control" id="search_key" placeholder="Search">
                        </div>
                        <div class="col-sm-1">
                            <button class="btn btn-info" id="btn_search">Search</button>
                        </div>
                    </div>

                </div>
                <div class="body">
                    <div class="row">
                        <div class="pagination pull-right" style="padding:10px;">

                        </div>
                    </div>

                    <div class="list-unstyled row clearfix" id="gallery-thumbnials">

                    </div>
                    <div class="row">
                        <div class="pagination pull-right" style="padding:10px;">

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="DetailModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" >Gallery Detail</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="min-height:300px;">
                    <div class="col-sm-5 col-md-5 col-lg-5">
                        <img src="#" alt="Alternate Text" id="imgDetailImage" width="80%" height="80%" />
                    </div>
                    <div class="col-sm-7 col-md-7 col-lg-7">
                        <h3 id="headerName" class="text-primary">Name</h3>
                        <p id="fieldDescription">Description</p>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-5 col-md-5 col-lg-5 text-center" >
                        <a href="#">Created By</a>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 text-center">
                        <div class="row" id="divForDownloadButton">
                            <button class="btn btn-primary" style="width:200px; margin-bottom:5px;">Download</button>
                        </div>
                        <div class="row" id="divForContactButton">
                            <button class="btn btn-primary" style="width:200px; margin-bottom:5px;">Contact Details</button>
                        </div>
                    </div>
                    <div class="col-sm-1 col-md-1 col-lg-1">
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Back</button>
            </div>
        </div>
    </div>
</div>
<iframe id="iframe_download_file" style="display:none" src=""></iframe>
<script>
    $(function () {
        $('#loader').hide();
        loaddata(1);
    });

    function downloadFile(fileId) {

        // console.log(fileId);
        var url = "http://localhost:3721/galleries/download?fileid=" + fileId;
        $('#iframe_download_file').attr('src', url)
        //alert('download - ' + $('#iframe_download_file').attr('src'));

    }

    $("#btn_search").click(function () {
        loaddata(1);
    });

    function loaddata(n) {
        var search_key = $('#search_key').val();
        var ajaxurl = 'http://localhost:3721/galleries/get?page=' + n;
        if (search_key != "") {
            ajaxurl = 'http://localhost:3721/galleries/get?keyword=<search_key>&page=<page_request>';
            ajaxurl = ajaxurl.replace("<search_key>", search_key);
            ajaxurl = ajaxurl.replace("<page_request>", n);
        }

        /// show spinner
        $('#loader').show();

        $.ajax({
            url: ajaxurl,
            dataType: 'json',
            success: function (response) {
               

                //console.log(response);
                var obj = response.Result.Records;
                console.log(obj);
                $(".pagination").empty();
                $("#gallery-thumbnials").empty();
                for (var k in obj) {
                    var item = obj[k];
                    
                    var thumbnail = item.ThumbnailImage;
                    var desc = "";
                    if (item.Description != null) {
                        desc = item.Description;
                    }
                    
                    var short_desc = "";

                    if (desc.length > 200) {
                        short_desc = desc.substring(0, 200) + "...";
                    } else {
                        short_desc = desc;
                    }
                    $("#gallery-thumbnials").append(
                        "<div class='col-lg-3 col-md-4 col-sm-6 col-xs-12'>" +
                        "<a OnClick='showDetail(" + item.Id + ")'><img src='data:image/png;base64," + thumbnail + "' alt='" + item.Name + "'  class='thumbnail' height='200px' width='250px'></a>" +
                        "<h4><a OnClick='showDetail(" + item.Id + ")'>" + item.Name + "</a></h4><hr/></div>");
                }

                var totalpage = response.Result.TotalPage;
                var currentpage = response.Result.CurrentPage;
                var i;
                for (i = 1; i <= totalpage; i++) {
                    if (i == currentpage) {
                        $(".pagination").append(" <a class='btn btn-md btn-warning'>" + i + "</a> ");
                    } else {
                        $(".pagination").append(" <a class='btn btn-md btn-default' OnClick='loaddata(" + i + ")'>" + i + "</a> ");
                    }
                }

                /// hide spiner
                $('#loader').hide();
            },
            error: function (response) {
                $("#result").html("<strong>100000" + response.status + "</strong>: " + response.message);
            }

        });
    }

    function showDetail(Id) {
        var ajaxurl = 'http://localhost:3721/galleries/getitem?Id=' + Id;
        /// show spinner
        $('#loader').show();

        $.ajax({
            url: ajaxurl,
            dataType: 'json',
            success: function (response) {
                
                //console.log(response);
                var obj = response.Result;
                console.log(obj);

                $("#headerName").empty();
                $("#headerName").append(obj.Name);

                $("#fieldDescription").empty();
                $("#fieldDescription").append(obj.Description);


                $('#imgDetailImage').attr('src', 'data:image/png;base64,' + obj.DetailImage);

                $("#divForDownloadButton").empty();
                $("#divForDownloadButton").append("<button class='btn btn-primary' style='width:60%; margin-bottom:5px;'  onClick='downloadFile(" + obj.Id +")'>Download</button>");

                $("#divForDownloadButton").empty();
                $("#divForDownloadButton").append("<button class='btn btn-primary' style='width:60%; margin-bottom:5px;'>Contact Details</button>");
                /// hide spiner
                $("#DetailModal").modal();
            },
            error: function (response) {
                $("#result").html("<strong>100000" + response.status + "</strong>: " + response.message);
            }

        });

       
    }
</script>
