@model Com.BudgetMetal.ViewModels.VmGalleryPage

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    @foreach (var item in Model.Result.Records)
    {
    <tr>
        <td> @item.Name </td>
        <td> @item.Description </td>
        <td> @item.Id </td>
    </tr>
    }
</table>

