@model Com.BudgetMetal.ViewModels.ServiceTags.VmServiceTagsItem

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<div class="container-fluid">
    <div class="card">
        <div class="row"></div>
        <h3>Create Service Tags</h3>
        <div class="row clearfix">
            <div class="col-md-8">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @*<div class="form-line col-md-8">
                        <br />
                        <label asp-for="Id" class="control-label"></label>
                        <input asp-for="Id" class="form-control" />
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>*@
                    <div class="form-line col-md-8">
                        <br />
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-line col-md-8">
                        <br />
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-line col-md-8">
                        <br />
                        <label asp-for="Industry_Id" class="control-label">Industry</label>
                        <select asp-for="Industry_Id" asp-items="@(new SelectList(Model.IndustryList, "Id", "Name"))" class="form-control">
                            <option>Please select one</option>
                        </select>
                        <span asp-validation-for="Industry_Id" class="text-danger"></span>
                    </div>
                    <input type="hidden" asp-for="CreatedBy" class="form-control" />
                    <div class="form-group col-md-6">
                        <br />
                        <input type="submit" value="Create" class="btn btn-info" />
                    </div>
                    <br />
                </form>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
